@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'mantine-overrides';

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}
