.card {
  & img {
    transition: transform 0.3s ease;
  }

  &:hover {
    box-shadow: var(--mantine-shadow-sm);
  }

  &:hover img {
    transform: scale(1.05);
  }
}

.linkWrapper {
  display: block;
  height: 100%;
}
