.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  transition: background-color 150ms ease, color 150ms ease;
}

.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-5)
  );
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-1));
}

.link:hover .linkIcon {
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-1));
}

.link[data-active],
.link[data-active]:hover {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-primary-color-filled);
}

.link[data-active] .linkIcon,
.link[data-active]:hover .linkIcon {
  color: var(--mantine-primary-color-filled);
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));
  margin-right: var(--mantine-spacing-sm);
  width: 20px;
  height: 20px;
  transition: color 150ms ease;
}
