.Page {
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  flex-shrink: 100;
}

.PageRedesigned {
  overflow-y: auto;
  height: 100%;
}

.trigger {
  height: 20px;
  margin: 10px;
}
