:root {
  /* Legacy colors - deprecated */
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #00a3d1;
  --secondary-color: #007ea3;
  --inverted-primary-color: #74a2b2;
  --inverted-secondary-color: #5a7c87;

  /* Redesigned - Mantine aligned colors */
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #f5f7f8;
  --light-bg-redesigned: #e8eced;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #ff7777;
  --save-redesigned: #62de85;
  --icon-redesigned: #00c8ff;
  --accent-redesigned: #00a3d1;

  /* skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  /* code */
  --code-bg: #fff;

  /* card */
  --card-bg: #e8eced;

  /* listbox */
  --listbox-bg: #e8eced;
}
