.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.NavbarRedesigned {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.links,
.actions {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}
