.NotificationItem {
  display: block;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-lg);

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-7)
    );
  }
}
