.ErrorPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
  background: linear-gradient(
    180deg,
    light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8)) 0%,
    light-dark(var(--mantine-color-white), var(--mantine-color-dark-9)) 100%
  );
}
